/* additional info */

/* .additional-info{
    width: 90%;
    margin: auto;
    padding: 24px 0;
} */

/* tab */

.tab input:checked + .label{
    background-color: rgb(63, 71, 78);
}

.tab input:disabled + .label{
    color: rgba(128, 128, 128, 0.25)!important;
}

/* table */

.table{
    width: 100%;
    padding: 0 7.5px;
}

    .table > div[name="head"]{
        font-weight: bold;
        border: 1px solid #6c757d;
        border-left: none;
        border-right: none;
    }

    .table-row{
        border-bottom: 1px solid #6c757d;
        overflow: hidden;
    }

    .table-row .control{
        text-align: right;
    }

    .table-row:nth-of-type(odd){
        background-color: rgba(0, 0, 0, 0.05);
    }

    .table .cell{
        padding: 12px;
    }

    .table input,
    .table select{
        margin-left: -12px;
        width: calc(100% + 12px);
    }

    .table select{
        padding-left: 8px;
    }

/* section */

.section{
    /* min-width: 320px; */
    margin: 0;
    padding: 0;
    /* border: 1px solid #6c757d; */
    
    background-color: rgba(255, 255, 255, 0.075);
}

.section div[name="head"] > div[name="content"]{
    height: 28px;
    position: relative;
}

.section div[name="head"] > div[name="content"] > *{
    position: absolute;
    bottom: 0;
}

.section div[name="title"]{
    position: relative;

    width: 100%;

    font-weight: bold;
}

.section div[name="control-buttons"]{
    right: 0;
}

.section div[name="body"]{
    height: calc(100% - 44px);
    width: 100%;

    background-color: rgba(0, 0, 0, 0.05);
}


/* model-property-section */

.section div[name="body"] > *{
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    min-height: 100px;
    margin: -1px;
    padding: 8px;

    border-radius: 0;
}