div#device-table{
    width: 100%;
    padding: 7.5px;
}

div#device-table > div[name="head"]{
    font-weight: bold;
    border: 1px solid #6c757d;
    border-left: none;
    border-right: none;
}

div#device-table .table-row{
    border-bottom: 1px solid #6c757d;
}

div#device-table .cell{
    padding: 12px;
}

input[type="text"]{
    margin-left: -12px;
    width: calc(100% + 12px);
}